body {
    width: 1200px;
    margin: auto;
}

.a-button {
    cursor: pointer;
}

.nav>li {
    list-style-type: none;
    display: inline;
    background-color: #EEE;
    padding: 3px 5px 3px 5px;
}
.nav>li>a {
    text-decoration: none;
}
.nav>li:hover {
    list-style-type: none;
    display: inline;
    background-color: #DDD;
    padding: 3px 5px 3px 5px;
}
.paginate-nav>a, .paginate-nav>span {
    cursor: pointer;
    background-color: #DDD;
    width: 70px;
    height: 25px;
    font-size: 18px;
    text-align: center;
    padding-top: 0px;
    display: inline-block;
    color: white;
}
.paginate-nav>a:hover, .paginate-nav>span:hover {
    background-color: #EEE;
    /*width: 70px;
    height: 25px;
    font-size: 18px;
    text-align: center;
    padding-top: 0px;
    display: inline-block;
    color: white;*/
}
.paginate-nav>span {
    color: #666;
}
.paginate-nav>span:hover {
    background-color: #DDD;
}

.feed {
    border-right: #DDD 1px solid;
    width: 600px;
    max-height: 60000px;
    display: block;
    float: left;
}
.right-side {
    width: 400px;
    display: block;
    float: left;
    margin-left: 20px;
}
.right-side>.post {
    float: left;
}

.item {
    width: 600px;
    display: block;
    margin-bottom: 20px;
    border-bottom: 1px #DDD solid;
    padding-bottom: 10px;
}
.item img {
    max-width: 450px;
}
.item .post_info {
    width: 100px;
    vertical-align: top;
    display: inline-block;
}
.item .img_id {
    font-size: 13px;
    color: #999;
}
.user_name {
    display: block;
    font-weight: 600;
}
.post_info>.timestamp {
    font-size: 13px;
    color: #999;
}
.item .text {
    display: inline-block;
    width: 450px;
}
.text>img {
    margin-bottom: 3px;
}
.comment>a {
    color: #000;
    text-decoration: none;
}
#ok {
    color: #c86432;
}
#no {
    color: #3264c8;
}
#ok:hover, #no:hover {
    color: #ff6432;
    font-weight: 550;
}
#no:hover {
    color: #3232ff;
    font-weight: 550;
}
.comment .comments {
    border-top: dashed 1px #999;
    padding: 10px 10px 10px 0px;
    margin-left: 10px;
    min-height: 45px;
}
.comments>span {
    margin-left: 5px;
    margin-top: 8px;
}
.comment-submit>.post {
    width: 590px;
}
.comment-submit>button {
    width: 595px;
}
.button-submit {
    margin-top: 3px;
    width: 408px;
    height: 35px;
    background: #DDD;
    border: none;
    color: #666;
    font-size: 22px;
}

/* ↓↓↓↓过渡动画效果↓↓↓↓ */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
/* ↑↑↑↑过渡动画效果↑↑↑↑ */