<!DOCTYPE html>
<html>
    <head>
        <title>
            汪喵贴图板
        </title>
        <link rel="stylesheet" href="/static/index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript" src="/static/js/api.js"></script>
    </head>
    <body>
    <div id="app">
        <h1>汪喵贴图板</h1>
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/">>>ALL<<</a></li>
            <li role="presentation"><a href="/dog">>>>汪<<<</a></li>
            <li role="presentation"><a href="/cat">>>>喵<<<</a></li>
            <li role="presentation"><a href="/other">>>>其他<<<</a></li>
        </ul>
        <hr>
        <ol class="feed">
            <li class="item" v-for="img in imgList" :key="img.img_id">
                <div class="img_id">
                    #{{img.img_id}}
                </div>
                <div class="row">
                    <div class="post_info">
                        <label class="user_name">{{img.author}}</label>
                        <!-- <label class="timestamp">12小时前</label> -->
                    </div>
                    <div class="text">
                        <img :src="u" alt="" v-for="u in img.url">
                    </div>
                </div>
                <div class="comment" :data-imgId="img.img_id">
                    <div style="text-align: right; padding-right: 50px; margin: 5px 0px 10px 0px;">
                        <a id="ok" class="a-button" v-on:click="voteOk">我觉得可以 {{img.ok}}</a>
                        <a id="no" class="a-button" v-on:click="voteNo"> / 我觉得不行 {{img.no}}</a>
                        <a id="comment" class="a-button" v-on:click="getComments"> / 吐槽 {{img.comments_num}}</a>
                    </div>
                    <transition name="fade">
                    <div v-show="show[img.img_id]">
                        <div class="comments" v-for="c in comments[img.img_id]">
                            <label class="user_name">{{c.author}}</label>
                            <span>{{c.content}}</span>
                        </div>
                    </div>
                    </transition>
                </div>
            </li>
        </ol> 
        <div class="right-side">
            投稿方式：<br>
            将图片链接贴到下方输入框<br>
            一次提交多个链接用英文分号 ; 分割
            <hr>
            给自己取一个名字？
            <input type="text" id="author">
            <button>决定</button>
            <br>
            <textarea class="post" name="post" id="url-text" cols="55" rows="10"></textarea>
            <button v-on:click="submitUrl">提交</button>
            <hr>
            注意：请遵守当地法律法规，不要提交过激图片，网站管理员有权对不合规图片进行删除。
        </div>
    </div>
    <script type="text/javascript" src="/static/js/vue.js"></script>
    </body>
</html>